.img3 {
    width: 500px;
    height: 380px;
    padding-left: 26rem;
    padding-top: 2rem;
  }
  
  .img3:hover{
    transform: scale3d(1.1, 1.1, 1);
  }

  .img4 {
    width: 380px;
    height: 380px;
    padding-left: 30rem;
  }
  
  .img4:hover{
    transform: scale3d(1.1, 1.1, 1);
  }